In [1]:
import pandas as pd

In [99]:
df = pd.read_csv("/content/PS1A_train.csv")

In [4]:
df.head()

   Index  C1  C2  C3  C4  C5  C6  C7    C8    C9  Target
0      1   3   9   9   0   6   0   1  0.60  0.43     342
1      2   3   7  11   0   0   0   1  0.84  0.53     243
2      3   1   1  23   0   4   1   2  0.40  0.82      91
3      4   3   9   6   0   0   0   1  0.58  0.88      20
4      5   2   5   9   0   6   0   1  0.54  0.49     218

In [ ]:
# Create unstacked multiple columns bar
for i in list(df):
    if(i!= "Index"):
        df.hist(column = [i] , bins = 300 ,figsize= (8,6))

In [6]:
df = df.drop('Index', axis=1)

In [7]:
mean_value = df.mean()
mean = mean_value.to_numpy()

In [ ]:
print(mean)#192

In [9]:
max_value = df.max()
mx = max_value.to_numpy()

In [10]:
print(mx)

[  4.    12.    23.     1.     6.     1.     3.     0.98   1.   976.  ]

In [11]:
print(len(df))

6951

In [33]:
df_new = df.drop(df[(df.C4 == 0) & (df.C6==0)].index)

In [13]:
print(len(df_new))

4884

In [14]:
df_new.C1.value_counts()

3    1283
2    1266
4    1191
1    1144
Name: C1, dtype: int64

In [76]:
df.corr()

,C1,C2,C3,C4,C5,C6,C7,C8,C9,Target,C10
C1,1.000000,0.820865,-0.010873,-0.014369,0.005371,0.018760,-0.018871,0.311461,0.159960,0.180523,0.005371
C2,0.820865,1.000000,-0.005919,0.000886,0.022404,0.006465,0.003381,0.194709,0.165469,0.118024,0.022404
C3,-0.010873,-0.005919,1.000000,-0.000444,-0.015664,-0.000259,-0.032319,0.144412,-0.292375,0.388436,-0.015664
C4,-0.014369,0.000886,-0.000444,1.000000,-0.092878,-0.236502,-0.026539,-0.034861,-0.015991,-0.032677,-0.092878
C5,0.005371,0.022404,-0.015664,-0.092878,1.000000,0.033691,0.026467,0.007129,-0.023017,0.024393,1.000000
C6,0.018760,0.006465,-0.000259,-0.236502,0.033691,1.000000,0.041604,0.069805,0.020243,0.039072,0.033691
C7,-0.018871,0.003381,-0.032319,-0.026539,0.026467,0.041604,1.000000,-0.105878,0.429526,-0.154723,0.026467
C8,0.311461,0.194709,0.144412,-0.034861,0.007129,0.069805,-0.105878,1.000000,-0.077175,0.415110,0.007129
C9,0.159960,0.165469,-0.292375,-0.015991,-0.023017,0.020243,0.429526,-0.077175,1.000000,-0.338594,-0.023017
Target,0.180523,0.118024,0.388436,-0.032677,0.024393,0.039072,-0.154723,0.415110,-0.338594,1.000000,0.024393
C10,0.005371,0.022404,-0.015664,-0.092878,1.000000,0.033691,0.026467,0.007129,-0.023017,0.024393,1.000000

In [64]:
import numpy as np
from numpy.linalg import inv
import pandas as pd
from tqdm import tqdm
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import confusion_matrix
from xgboost import XGBClassifier
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [104]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns=["Target","Index"]), df["Target"], test_size=0.33, random_state=42)

In [105]:
model_1 = XGBRegressor(n_estimators=800,
                     learning_rate=0.04,
                      subsample=0.5,         
                      colsample_bytree=0.5,  
                      scale_pos_weight=1,
                      max_depth=6,
                      random_state=38)

In [106]:
df.head()

   Index  C1  C2  C3  C4  C5  C6  C7    C8    C9  Target
0      1   3   9   9   0   6   0   1  0.60  0.43     342
1      2   3   7  11   0   0   0   1  0.84  0.53     243
2      3   1   1  23   0   4   1   2  0.40  0.82      91
3      4   3   9   6   0   0   0   1  0.58  0.88      20
4      5   2   5   9   0   6   0   1  0.54  0.49     218

In [107]:
model_1.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=0.5, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.04, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=6, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=800, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=38, ...)

In [108]:

y_pred1 = model_1.predict(X_test)

m1 = mean_squared_error(y_test, y_pred1)
print(m1)

4757.206192116948

In [109]:
x = pd.read_csv('/content/PS1A_test.csv')
x.drop(columns=['Index'], inplace = True)

y_pred1 = model_1.predict(x)
index = [i for i in range(1,len(y_pred1)+1)]
df = pd.DataFrame({'Index': index, 'Target': y_pred1})
df.to_csv("sub_A.csv",index=False)